body {
      background-color: #282828;
  }
  
  .month{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 900px; /* 调整容器的最大宽度，根据需要调整 */
  }
  
  .gallery .zoomable-image {
    position: relative;
    width: calc(25% - 40px); /* 调整每个图片的宽度，减去间距的宽度 */
    height: auto; /* 调整每个图片的高度 */
    margin: 20px; /* 调整每个图片之间的间距 */
    overflow: hidden;
    transition: transform 0.3s;
    border-radius: 20px;
  }
  
  .gallery .zoomable-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
  }
  
  .gallery .zoomable-image:hover {
    transform: scale(2.5);
    z-index: 1; /* 将放大的图片置于顶层 */
  }
  
  .gallery .zoomable-image .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
  }
  
  .gallery .zoomable-image:hover .overlay {
    opacity: 1;
  }
  
  .gallery .zoomable-image .caption {
    position: absolute;
    bottom: 0;
    left: 100%;
    white-space: nowrap;
    color: #282828;
    font-size: 16px;
    padding: 10px;
    animation: floatText 13s linear infinite;
  }
  
  @keyframes floatText {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-300%);
    }
  }
  .gallery .zoomable-image .number {
    position: absolute;
    top: 10px; /* 调整数字距离顶部的距离 */
    right: 10px; /* 调整数字距离右侧的距离 */
    color: #282828;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
  }
  p{
    font-size:24px ;
    font-family:'apercu';
    color: #ffffff;
  }